<!DOCTYPE html>
<html>
<head>
	<title>Real Time Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
	<div class="container">
    <h1 class="text-center my-4">{{ title }}</h1>
    <table class="table">
      <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">ID</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Thumbnail</th>
        </tr>
      </thead>
        <tbody id="table-body">
        {{#each products}}
        <tr>
            <th scope="row">{{this.title}}</th>
            <td>{{this.id}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
            <td><img src="{{this.thumbnail}}" alt="Product thumbnail" /></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js" integrity="sha512-rwu37NnL8piEGiFhe2c5j4GahN+gFsIn9k/0hkRY44iz0pc81tBNaUN56qF8X4fy+5pgAAgYi2C9FXdetne5sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/main.js"></script>
</body>
</html>