<div class="container mt-4">
  <div class="row">
    {{#each products}}
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="{{this.thumbnail}}" class="card-img-top" alt="{{this.title}}">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text">Price: ${{this.price}}</p>
          <p class="card-text">Stock: {{this.stock}}</p>
          <p class="card-text">Category: {{this.category}}</p>
          <a href="/products/{{this._id}}" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>